.top1{
	background-image: url("img3.jpg");
	width: 100%;
	height: 600px;
}
body{
	margin: 0px;
	background-color: #f2f2f2;
}
.left{
	float: left;
	/*width: 50%;*/
}
.button1 {
	border-radius: 8px;
  background-color: #ffa500;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.form{
	padding: 250px 50px 100px 150px;
}
.p1{
	font-family: arial, sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 40px;

}
.footer1{
	margin: auto;
	width: 50%;
	border: 3px;
	padding: 10px;
	
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-left:300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
